:root {
  --first-color: #fcffc1;
  --second-color: #9bf4d5;
  --third-color: #1dad9b;
  --fourth-color: #346357;
  --heading-font-family: "Open Sans", sans-serif;
  --default-font-family: "Poppins", sans-serif;
}

.logo {
  max-height: 90px;
  margin: 0;
  padding: 0;
  margin-left: 50px;
}
.minilogo {
  max-height: 70px;
}
nav {
  padding: 10px 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 80px;
  font-family: var(--heading-font-family);
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

nav li.active a {
  color: var(--third-color);
  transition: all 100ms ease-in-out;
}
nav ul {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
  color: var(--fourth-color);
}
h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  color: var(--fourth-color);
}
h3 {
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: normal;
  line-height: 2;
}

p {
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 30px;
}

.content-container {
  background-color: var(--first-color);
  text-align: center;
  padding: 100px 120px;
  color: var(--fourth-color);
}

.content-container h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
}
.content-container h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: semibold;
  margin: 0;
  color: var(--third-colorcolor);
}
.content-container h3 {
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: normal;
  line-height: 2;
}

.btn-branding {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  background: var(--second-color);
  color: var(--third-color);
  padding: 15px 40px;
  border-radius: 5px;
  border: 0;
}
:hover.btn-branding {
  color: var(--first-color);
}

.btn-branding-outline {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: var(--third-color);
  border-radius: 5px;
  border: solid 1px var(--third-color);
  padding: 15px 40px;
}
:hover.btn-branding-outline {
  background-color: var(--first-color);
  color: var(--third-color);
  border: 1px solid var(--first-color);
}

.project-description {
  padding: 40px 60px;
}
.subpage-hero {
  margin: 50px 140px;
}
.heading-container h1 {
  font-family: var(--heading-font-family);
  font-size: 54px;
}
.heading-container {
  background: none;
  text-align: left;
  padding: 50px 88px;
}

.about-paragraph {
  padding: 10px 78px;
  text-align: justify;
  font-size: 16px;
}

.about-section {
  padding: 100px 80px;
}

.about-img {
  width: 560px;
  padding: 80px;
}

.sign-up {
  padding: 49px 119px;
  margin: 78px 140px;
}

.sign-up h2 {
  font-weight: semibold;
  margin: 0;
  color: var(--third-colorcolor);
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
  text-align: left;
}
.sign-up h3 {
  text-align: left;
}
.about-mail a {
  font-family: var(--default-font-family);
  font-size: 25px;
  color: var(--fourth-color);
  font-weight: 500;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: var(--third-color);
  transition: all 100ms ease-in-out;
}

@media (max-width: 960px) {
  nav a {
    font-size: 14px;
  }
  nav ul {
    margin: 8px;
    padding: 0px;
  }

  .content-container {
    margin: -38px 0px;
    padding: 40px 15px;
  }

  .project-description {
    padding: 0px 14px;
    text-align: justify;
  }
  .content-container h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 36px;
    line-height: 1.5;
  }
  .subpage-hero {
    margin: 40px 0px;
  }
  .heading-container {
    margin: 10px 10px;
    padding: 10px 10px;
  }

  .heading-container,
  .about-paragraph {
    margin: 20px;
    padding: 15px;
    text-align: justify;
  }
  .heading-container h1 {
    font-size: 44px;
    line-height: 53px;
  }

  .heading-container h3 {
    font-size: 24px;
  }
  .heading-container btn {
    display: block;
    margin: 0 auto;
  }
  .subpage-hero-btn {
    margin: 4px 35px;
  }

  .about-img {
    margin: 0px;
    padding: 1px 40px;
  }
  .sign-up {
    margin: 10px 10px;
    padding: 10px 10px;
    font-size: 20px;
  }
  .sign-up h2 {
    font-size: 36px;
    line-height: 2;
  }
  .sign-up h3 {
    line-height: 1.5;
  }

  .about-mail a {
    font-size: 16px;
  }
}
